body, html {
    height: 100%;
    margin: 0;
  }
  
  .bg {
    background-image: url("/iteration2/game1/assets/common/start_screen_bg.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }