body, html {
  height: 100%;
  margin: 0;
  font-family: Arial;
}
* {
  box-sizing: border-box;
}
.abc {
  filter: blur(8px);
  -webkit-filter: blur(8px);
    /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }
  
.def {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 25%;
  padding: 20px;
  text-align: center;
}
button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 10px;
  margin: 2px 0;
  border: none;
  cursor: pointer;
  width: 50%;
}

button:hover {
  opacity: 0.8;
}

#main-nav {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem; }
  #main-nav ul {
    display: flex; 
	position:absolute;
left:50%;
margin-left:-200px; /* negative margin equal to half the width */
	}
  #main-nav li {
    padding: 1rem 1.5rem; }
  #main-nav a {
	  width:150px;
    text-decoration: none;
    color: #fff;
    text-shadow: 2px 2px 4px #000000;
    text-transform: uppercase;
    border-bottom: 3px transparent solid;
    padding-bottom: 0.5rem;
    transition: border-color 0.5s;
	}
    #main-nav a:hover {
      border-color: #ccc; }
    #main-nav a.current {
      border-color: #ffbc00; }
  #header-home .header-content {
    text-align: center;
    padding-top: 20%; }
    #header-home .header-content h1 {
      font-size: 4rem;
      line-height: 1.2; }